                                    Development Review Committee
                                         1020 East Pioneer Road
                                           Draper, UT 84020
                                                  January 5, 2026

To:                Draper City Planning Commission
                   Business Date: January 22, 2026

From:              Development Review Committee

Prepared By: Todd Taylor, Planner III
             Planning Division
             Community Development Department
             801-576-6510, todd.taylor@draperutah.gov

Re:      City Initiated Residential Parking Requirements – Zoning Text Amendment
         Request
         Application No.: 2026-0005-TA
         Applicant:        Draper City
         Project Location: City Wide
         Current Zoning: City Wide
         Acreage:          City Wide
         Request:          Request for approval of a Zoning Text Amendment to portions of
                           Draper City Municipal Code (DCMC) Title 9 to address recent
                           changes to Utah State Code related to residential parking
                           requirements.


BACKGROUND AND SUMMARY

This application is a request for approval of a Zoning Text Amendment for the purpose of
amending portions of Draper City Municipal Code (DCMC) Title 9 to address recent changes
to Utah State Code.

The 2025 Utah State Legislative Session included Senate Bill (SB) 181 that enacted regulations
regarding the size, configuration, and location of parking that is acceptable for one- and two-
family housing and townhomes. Additionally, the new regulations restrict a municipality
from requiring a garage for single-family attached or detached dwelling that is owner-
occupied affordable housing. Draper City needs to amend the DCMC in order to conform
with the new State regulations.



City Initiated Residential Parking Requirements                     App. No.: 2026-0005-TA
Zoning Text Amendment Request                            1
ANALYSIS

Text Amendments.

This report will review the modifications being proposed. The legislative copy of the changes
can be found in Exhibit B of this report. Additions to the text are indicated in blue, deletions
in red, and unchanged text in black.

DCMC Section 9-3-040: Definitions: The definition for “Parking, Tandem” has been updated to
more clearly describe the type of parking situation.

DCMC Section 9-11-105: (MARF) Major Freeway Arterial Frontage Road: The standards for visitor
parking in multiple-family dwellings in the MARF Zone have been updated to require the
spaces be marked and located in an area of common ownership.

DCMC Section 9-18K-030: Proposed Development Standards: The standards for visitor parking
in the Highline Commercial Special District have been updated to require the spaces be
marked and located in an area of common ownership

DCMC Section 9-25-050: Parking Location: The text has been revised to exempt single-family
attached or detached dwellings that are owner-occupied affordable housing from providing
parking in a garage. The standards for visitor parking have also been updated to require the
spaces be marked and located in an area of common ownership.

DCMC Section 9-25-060: Number and Type of Parking Spaces: The text has been revised to allow
tandem spaces to count towards the parking requirements of single- and two-family
dwellings and townhomes.

DCMC Section 9-28-020: Edelweiss Master Planned Community Zone: The standards for visitor
parking in the Edelweiss Master Planned Community Zone have been updated to require the
spaces be marked and located in an area of common ownership

DCMC Section 9-31-055: Deviations: The standards for providing two parking spaces for
internal accessory dwelling units (I-ADUs) as part of the deviation process has been revised
to allow tandem parking of those two spaces, similar to the new allowance for single- and
two-family dwellings and townhomes.

DCMC Section 9-32-030: Development Standards: The standards for visitor parking in multiple
family dwellings have been updated to require the spaces be marked and located in an area
of common ownership.




City Initiated Residential Parking Requirements                      App. No.: 2026-0005-TA
Zoning Text Amendment Request                     2
Criteria For Approval.

A Zoning Text Amendment is a matter committed to the legislative discretion of the City
Council and is not controlled by any one standard. However, in making a recommendation
to the City Council, the Planning Commission should consider the following factors in DCMC
Section 9-5-060(E)(2):

    2. Text Amendments:
       a. Whether the proposed amendment is consistent with goals, objectives and policies of
           the city's general plan;
       b. Whether a proposed amendment furthers the specific purpose statements of the
           zoning ordinance;
       c. Whether the proposed amendment is appropriate given the context of the request and
           there is sufficient justification for a modification to the zoning ordinance;
       d. The proposed amendment will not create a conflict with any other section or part of
           this title or the general plan;
       e. Whether the potential effects of the proposed amendment have been evaluated and
           determined not to be detrimental to public health, safety, or welfare and represents an
           overall community benefit; and
       f. The extent to which a proposed text amendment implements best current, professional
           practices of urban planning, design, and engineering practices


REVIEWS

Planning Division Review. The Draper City Planning Division has completed their review of the
Zoning Text Amendment submission. Comments from this division, if any, can be found in
Exhibit A.

Engineering and Public Works Divisions Review. The Draper City Engineering and Public Works
Divisions have completed their reviews of the Zoning Text Amendment submission.
Comments from these divisions, if any, can be found in Exhibit A.

Building Division Review. The Draper City Building Division has completed their review of the
Zoning Text Amendment submission. Comments from this division, if any, can be found in
Exhibit A.

Fire Division Review. The Draper City Fire Marshal has completed their review of the Zoning
Text Amendment submission. Comments from this division, if any, can be found in Exhibit A.

Legal Division Review. The Draper City Attorney has completed their review of the Zoning Text
Amendment submission. Comments from this division, if any, can be found in Exhibit A.

Noticing. Notice has been properly issued in the manner outlined in the City and State Codes.




City Initiated Residential Parking Requirements                        App. No.: 2026-0005-TA
Zoning Text Amendment Request                     3
STAFF RECOMMENDATION

Staff recommends that the Planning Commission review the request, receive public
comment, and make a recommendation to the City Council based on the findings and the
criteria for approval, or denial, as listed within the staff report.



MODEL MOTIONS

Sample Motion for Positive Recommendation – I move that we forward a positive
recommendation to the City Council for the City Initiated Residential Parking Requirements
Zoning Text Amendment, as requested by Draper City, Application No. 2026-0005-TA, based
on the following findings and the criteria for approval listed in the Staff Report dated January
5, 2026.

Findings for Approval:

    1. The proposed amendment is consistent with goals, objectives and policies of the
       City's General Plan;
    2. The proposed amendment is appropriate given the context of the request and there
       is sufficient justification for a modification to the development codes;
    3. The proposed amendment will not create a conflict with any other section or part of
       the development codes or the General Plan;
    4. The potential effects of the proposed amendment have been evaluated and are
       determined not to be detrimental to public health, safety, or welfare and represents
       an overall community benefit; and
    5. The proposed text amendment implements best current, professional practices of
       urban planning, design, and engineering practices.
    6. The proposed text amendment brings the text of the DCMC into compliance with
       State Code.



Sample Motion for Modified Positive Recommendation – I move that we forward a positive
recommendation to the City Council for the City Initiated Residential Parking Requirements
Zoning Text Amendment, as requested by Draper City, Application No. 2026-0005-TA, based
on the findings and criteria for approval listed in the Staff Report dated January 5, 2026, and
as modified by the following additional recommended modifications or findings:

    1. (List any additional modifications or findings…)



Sample Motion for Negative Recommendation – I move that we forward a negative
recommendation to the City Council for the City Initiated Residential Parking Requirements



City Initiated Residential Parking Requirements                      App. No.: 2026-0005-TA
Zoning Text Amendment Request                     4
Zoning Text Amendment, as requested by Draper City, Application No. 2026-0005-TA, based
on the following findings and the criteria for denial listed in the Staff Report dated January 5,
2026.

Findings for Denial:

    1. The proposed amendment is not consistent with goals, objectives and policies of the
       City's General Plan;
    2. The proposed amendment is not appropriate given the context of the request and
       there is not sufficient justification for a modification to the development codes;
    3. The proposed amendment could create a conflict with another section or part of the
       development codes or the General Plan;
    4. The potential effects of the proposed amendment have been determined to be
       detrimental to public health, safety, or welfare or do not represent an overall
       community benefit; and
    5. The proposed text amendment is not consistent with best current, professional
       practices of urban planning, design, and engineering practices.




City Initiated Residential Parking Requirements                       App. No.: 2026-0005-TA
Zoning Text Amendment Request                     5
                                      EXHIBIT A
                                 DEPARTMENT REVIEWS

REVIEWS ARE NOT MEANT TO BE AN ALL INCLUSIVE LIST OF POSSIBLE COMMENTS OR
CONDITIONS.



Planning Division Review.

   1. No additional comments received.

Engineering and Public Works Divisions Review.

   1. No additional comments received.

Building Division Review.

   1. No additional comments received.

Fire Division Review.

   1. No additional comments received.

Legal Division Review.

   1. No additional comments received.
                                           EXHIBIT B
                                      LEGISLATIVE DRAFT

9-3-040: DEFINITIONS:

As used in this title, the words and phrases defined in this section shall have the following
meanings unless the context clearly indicates otherwise:

…
PARKING, TANDEM: A pair of parking spaces which are located end to end in such a
manner than one of the spaces is not directly accessible to the street, abuts a driveway, or
parking aisle without traveling over the and is used to access one other parking space.
…
9-11-105: (MARF) MAJOR FREEWAY ARTERIAL FRONTAGE ROAD
…
B. Development Standards: The development standards of the Major Freeway Arterial
Frontage zone will guide the design of the buildings, landscaping, parking, lighting, and
signage located within the zone boundary. The concept plans included herein as exhibits
(Exhibits B, C and D) show examples of various uses for illustrative purposes only and shall
not be interpreted as binding upon the final development. Unless otherwise noted the
development shall be in accordance with the development standards listed herein.
…
       5. Multiple-Family Dwelling Uses:
       …
               w. Required guest visitor parking shall be provided in areas of common
               ownership, marked on the surface as “Visitor”, evenly distributed throughout
               the multiple-family dwelling project, and easily accessible to visitors.
               …
9-18K-030: PROPOSED DEVELOPMENT STANDARDS:
The development standards of the Highline Commercial Special District will guide the
design of the buildings, landscaping, parking and signage located within the district
boundaries. The master plan provides for office, retail, residential and general commercial
development in designated areas in accordance with the development standards set forth
in this article.
…
B. Residential District: All residential areas (see exhibit in section 9-18K-090 of this article
for site plan) shall comply with the following development standards:
…
       6. Parking Stalls: One (1) parking stall for every five (5) units will shall be designated
       as a visitor parking stall. Visitor stalls shall be provided in areas of common
       ownership and marked on the surface as “Visitor”.
       ….
9-25-050: PARKING LOCATION:
…
F. Parking For Residential Uses: All parking associated with residential uses shall be
according to the following:
…
       4. Required parking for single-family dwellings shall be provided within an enclosed
       garage, except that a garage shall not be required for a single-family attached or
       detached dwelling that is owner-occupied affordable housing as defined in Utah
       Code Section 10-20-618, as amended.
       5. Required parking for an approved accessory dwelling unit shall not be required
       to be within an enclosed garage but shall be provided in a hard surfaced area.
       6. Multi-family dwellings designed to include enclosed private garages may count
       the number of spaces within the garage toward the resident parking requirement
       when the garage is designed in compliance with subsection 9-25-070(A)(3) of this
       chapter and approved as a part of a site plan or site plan amendment.
       7. Visitor parking for multiple-family dwellings shall be located in an area of
       common ownership and be accessible for the intermittent, short-term use of all
       visitors to a property.
…
9-25-060: NUMBER AND TYPE OF PARKING SPACES:
…
F. Tandem Parking Spaces: Tandem parking spaces shall count toward required parking as
only a single parking space per pairing. Both spaces in an unobstructed tandem pairing
may be counted toward required parking in the following instances:
       1. Single-family or two-family dwellings; or
       1 2. Multi-family dwellings, including townhomes, with private garages and
       driveways meeting of at least the minimum dimensions of standard parking spaces
       may count toward resident resident parking requirements, but the private garages
       shall not count toward guest visitor parking requirements; or
       2 3. Developments using Vvalet parking when managed through approved valet
       services.
…
9-28-020: EDELWEISS MASTER PLANNED COMMUNITY ZONE:
The Edelweiss master planned community zone contains approximately sixty one (61) acres
located at approximately 14500 South 2200 East.
…
F. Development Standards; Townhomes: A detailed site plan will be required for review
and approval according to the standards set forth herein. Development of the townhome
component within the Edelweiss MPC shall comply with the following development
standards:
…
       11. Parking:
       …
              b. Guest Visitor parking shall be provided at a ratio of one (1) stall for every
              four (4) units. Visitor stalls shall be provided in areas of common ownership
              and marked on the surface as “Visitor”.
              …
9-31-055: DEVIATIONS:
A. Deviation Authorized: The Planning Commission may approve a deviation from strict
compliance with the geographical restrictions of the I-ADU map in Exhibit A of this chapter
upon finding that:
…
       4. At least two (2) parking stalls meeting the requirements of 9-31-045(B)(2) are
       provided for use by occupants of the I-ADU. These parking stalls may be located in
       tandem with each other. The I-ADU parking stalls shall be in addition to, and shall
       not overlap with or count toward, the minimum parking requirements for the
       primary single-family dwelling.
       …
9-32-030: DEVELOPMENT STANDARDS:
…
C. Building Placement And Orientation: Multiple-family projects shall have a strong
relationship to the public realm that will enhance the safety and efficiency of the project
while improving the character of the neighborhood.
…
6. Required visitor parking shall be provided in an area of common
ownership, clearly marked on the surface as “Visitor”, evenly distributed
throughout multiple-family projects, and easily accessible to visitors.
7. Driveway and Private garage parking shall not count toward be included
in the multiple-family project’s visitor parking count requirement.
8. On street parking, parallel or diagonal, is encouraged to be provided on
private streets to satisfy as a substantial portion of the project's overall
parking requirement. This provision is intended meant to provide create
flexibility in the available parking spaces for residents and visitors.
…
