                     COPPERTON METRO TOWNSHIP COUNCIL
                           ORDINANCE # ____________
                             _______________, 2019

     AN ORDINANCE REVISING CHAPTER 19.05 OF THE COPPERTON METRO
     TOWNSHIP CODE TO MODIFY THE TERM LIMITS FOR MEMBERS OF
     THE PLANNING COMMISSION, APPROVE A PER DIEM FOR PLANNING
     COMMISSION MEMBERS, AND GOVERN THE ADOPTION OF RULES OF
     ORDER AND PROCEDURE FOR THE PLANNING COMMISSION

       WHEREAS, on July 19, 2017, the Copperton Metro Township Council (the “Council”)
adopted ordinance #17-07-01, updating and creating Chapter 19.05 of the Copperton Metro
Township Code to establish the Copperton Metro Township Planning Commission (the “Planning
Commission”); and

       WHEREAS, the Council desires to amend Chapter 19.05 to: (1) modify the terms of
Planning Commission members; (2) authorize a per diem and travel expenses for Planning
Commission members pursuant to Utah Code Ann. §10-9a-301(2); and (3) specify rules of order
and procedure for the Planning Commission pursuant to Utah Code Ann. § 10-9a-301(1)(a)(v).

    NOW, THEREFORE BE IT RESOLVED BY THE COPPERTON METRO TOWNSHIP
COUNCIL AS FOLLOWS:

       1.      SECTION 1 (Section 19.05.010). Section 19.05.010 is repealed in its entirety and
replaced with the following:

              19.05.010 – Appointment – Term.

              The planning commission for the Copperton Metro Township shall consist of five
              (5) members and up to two (2) alternates appointed and approved by the Copperton
              Metro Township Council. Members shall serve three-year terms or longer until
              successors are appointed. Terms shall commence on January 1 of each year. In the
              event a term of a member shall expire before a successor is appointed, the member
              shall continue to serve until a successor is appointed. Terms of at least one member,
              and not more than two, shall expire each year. The members and alternate members
              of the planning commission shall be registered voters residing in the Copperton
              Metro Township.

      2.      SECTION 2 (Section 19.05.030). Section 19.05.030 is repealed in its entirety and
amended to read as follows:

              19.05.030 – Organization.

              The planning commission shall elect a chairperson from its members who shall
              serve a one-year term. The planning commission may create and fill any other
              offices it deems necessary and may adopt policies and procedures for the
              processing of applications and for any other purpose the planning commission
              considers necessary for its proper function.
                                                1
       3.       SECTION 3 (Section 19.05.030). Section 19.05.060 is enacted to read as follows:

       Section 19.05.060 – Compensation:

       The Copperton Metro Township Council may, by resolution, fix per diem compensation for
       the members of the planning commission based on meetings actually attended. Members
       of the planning commission may also request reimbursement for reasonable expenses
       incurred while acting in their official capacity by submitting their documented expenses to
       the Copperton Metro Township Council for review and approval. The Copperton Metro
       Township Council will have full discretion to grant, deny, or modify reimbursement
       requests.

       4.       SECTION 4 (Section 19.05.070). Section 19.05.070 is enacted to read as follows:

       Section 19.06.070 – Rules of Order and Procedure:

       The Copperton Metro Township Council shall, by resolution, enact rules of order and
       procedure for the planning commission.

       6.     SECTION 6 (Commission Member Terms). Pursuant the changes in term
       enacted by this Ordinance, the terms of the Copperton Metro Township Planning
       Commission members are reconstituted as follows:

            •   Ranuta Alder – term expires December 31, 2020
            •   Doug Green – term expires December 31, 2020
            •   Seat Vacated by Mike Stone – term expires December 31, 2019
            •   Ryan Taylor – term expires December 31, 2020
            •   Vern Winkler – term expires December 31, 2019

       5.       SECTION 5 (Effective Dates). Section 1 of this ordinance will be effective as of
March 1, 2020. All other sections of this ordinance will become effective immediately upon the
posting of this ordinance in three public places pursuant to Utah Code Ann. §§ 10-3-711 – 712

                                 [Execution on Following Page]




                                                2
        APPROVED AND ADOPTED in the Copperton Metro Township, Salt Lake County, Utah
this _______th day of _______________, 2019.


                                                    By:
                                                          Sean Clayton, Mayor

ATTEST


By:
      Sherrie Swensen, Salt Lake County Clerk
      Copperton Metro Township/Recorder


VOTING

Council Member Bailey voting         ___
Council Member Clayton voting        ___
Council Member Patrick voting        ___
Council Member Pazell voting         ___
Council Member Severson voting       ___




                                                3
