CITY OF KEARNS
Ordinance No. 2026-O-07 Date: June 8, 2026
AN ORDINANCE OF THE CITY OF KEARNS COUNCIL AMENDING
SECTION 19.50.020 OF THE ZONING ORDINANCE TO CLARIFY THE
EXEMPTIONS FROM LANDSCAPING REQUIREMENTS THAT APPLY TO
SINGLE AND TWO FAMILY DWELLINGS NOT WITHIN A PLANNED UNIT
DEVELOPMENT OR PLANNED COMMUNITY
RECITALS

WHEREAS, the City of Kearns is a municipality and has authority to adopt land
use regulations pursuant to Utah Code § 10-20-101 in accordance with the Municipal Land

Use, Development, and Management Act, Title 10, Chapter 20, Utah Code; and

WHEREAS, the Council deems it necessary to amend its land use ordinances to
clarify that single and two family dwellings are subject to minimum front yard landscaping
requirements but are exempt from irrigation system and detailed landscape design
requirements, and for the protection and preservation of the public health, safety and
general welfare;

WHEREAS, the Kearns Planning Commission held a public hearing on June 1,

2026 to consider amending 19.50.020.D to clarify the single and two family dwelling

exemptions to landscaping requirements in accordance with Utah Code §§ 10-20-302and

10-20-503; and

WHEREAS, the Planning Commission has recommended that the Council
(approve/deny) the ordinance amendment as drafted.

BE IT ORDAINED BY THE CITY OF KEARNS COUNCIL as follows:

| 1. Amendment. Section 19.50.020 is hereby amended as set forth in Exhibit A.

2. Severability. If a court of competent jurisdiction determines that any part of this
Ordinance is unconstitutional or invalid, then such portion of this Ordinance, or specific
application of this Ordinance, shall be severed from the remainder, which shall continue
in full force and effect. .

3. Direction to Staff. Staff are authorized and directed to take such steps as may be needed:
(a) for this ordinance to become effective under Utah law, including but not limited to
compliance with the requirements of Utah Code § 10-3-711; and (b) to finalize and post

the ordinance to Municode, including but not limited to making non-substantive edits
to correct any scrivener’s, formatting, and numbering errors.
4. Effective Date. This Ordinance will take effect immediately pursuant to Utah Code §
10-3-712.
PASSED AND ADOPTED this 8th day of June 2026.
KEARNS CITY COUNCIL
oy, on Valdez, Mayor Z-
ATTEST
Dias ows
Diana Baun, City Recorder
Voting:
Council Member Butterfield voting Qu 2
Council Member Colby voting ABSTAIV
Council Member Longtin voting
Council Member Schaeffer voting
Mayor Valdez voting
(Complete as Applicable)
Date ordinance summary was posted to the Kearns website, the Utah Public Notice website,
and in a public place within mais 3 Utah Code §10-3-711:.¢ JUN ) A WOU
Effective date of ordinance: Une 4 VED

SUMMARY OF
CITY OF KEARNS
ORDINANE NO. 2026-O0-07

On June 8, 2026, the City of Kearns Council enacted Ordinance No. 2026-O-07 amending

section 19.50.020 of the zoning ordinance to clarify the exemptions from landscaping

requirements that apply to single and two family dwellings not within a planned unit

development or planned community.

- Jesse Valdez, wt ,

ATTEST |
|

“Deome Pru

Diana Baun, Recorder

Voting:

Council Member Butterfield voting OR

Council Member Colby voting ay Fes TAl

Council Member Longtin voting

Council Member Schaeffer voting

Mayor Valdez voting

A complete copy of Ordinance No. 2026-O-07 is available in the office of the City of

Kearns Recorder, 860 West Levoy Drive, Suite 300, Taylorsville, Utah.

|
4 0% !
) |
EXHIBIT A |
. |
19.50.020 Scope And Applicability |
The standards of this Chapter apply to:
A. New Development. Any new development and/or off-street parking facilities shall
comply with the provisions of this Chapter. Existing landscaping must be made to
conform to the provisions of this ordinance when landscaping for public agency projects,
or private commercial, industrial, or multifamily projects are modified or rehabilitated.
Routine maintenance does not qualify as a modification or rehabilitation.
B. Building Additions. Building additions which increase building coverage by twenty
percent (20%) or more require the entire property to fully comply with this Chapter.
Single- and Two-Family Dwellings are subject to this part only if more than fifty percent
(50%) of the front or side yard area is disturbed. The Director or designee may grant
relief from full compliance based on exemption factors cited in Subsection 19.50.020(F).
C. Building Renovations. Building renovations, whether involving interior or exterior work,
do not trigger a requirement for the property to fully comply with this ordinance.
However, if such work involves the removal of existing plants, new plants shall be
installed that create comparable landscape design value.
D. Residential Properties:
1. Single and Two Family Dwellings. Single and Two-Family dwellings, except
where located within a planned unit development or master planned community,
shall comply with Section 19.50.050.A(1), but are exempt from (aH-ether)
sections 19.50.030 and 19.50.040 of this Chapter.
2. Fewer than Five (5) Units. Residential properties with fewer than five (5) units
shall comply with the provisions of this Chapter for front yards and side yards
(enty). The rear yard is not subject to the requirements of sections 19.50.030 and
19.50.040 of this Chapter.
3. Five (5) or More Units. Residential properties or developments with five (5) or
more units are subject to all provisions of this Chapter, including rear yards. This
includes all Single and Two-Family dwellings located within a planned unit
| development or master planned community.
E. Off-Street Parking Expansions.
1. Fifty Percent (50%) or less. A parking expansion which increases the number of
parking stalls by fifty percent (50%) or less requires that the newly established
| expansion area be brought into compliance with both the interior and
exterior/perimeter landscape requirements of this Chapter. ;
2. Fifty Percent (50%) or more. A parking expansion which increases the number of
parking stalls by fifty percent (50%) or more requires that the entire expansion
| area be brought into compliance with both the interior and exterior/perimeter
landscape requirements of this Chapter. The pre-existing parking area, while not
. required to be retroactively brought into compliance with this Chapter’s interior
parking area landscape requirements, shall conform to, exterior/perimeter area
landscape standards.

1

3. Repeated Expansions. Repeated expansions of parking facilities over time are ‘
combined in determining whether the fifty percent (50%) threshold has been
reached.

F. Exemptions. The provisions of this Chapter do not apply to the following:

1. Exemption for Historic District Contributing Buildings. Properties listed on either :
the State of Utah or National Historic Registers may be exempt from these
regulations, subject to review by the Director or designee.

2. Exemptions from Water Allowance Limitations. Areas dedicated and used for the
following specific purposes are exempt from the landscape water allowance
limitations of this Chapter:

a. Sports fields; ,
b. Turf areas within public parks;

c. Golf courses; and

d. Cemeteries.

3. Limits to Exemptions. Although exempt from landscape water allowance
limitations, all other provisions of this Chapter apply. In particular, landscaping
shall be provided in the interior and perimeter areas of off-street parking facilities,
adjacent to buildings, and along walkways.

|
